@page "/players/delete/{Id:int}"
@using LocalFantasyLeague.Models.DbSets

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Player</h2>
    <hr />
    @if (_player is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@_player.Name</dd>
        </dl>
        <EditForm method="post" Model="_player" OnValidSubmit="DeletePlayer" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(_player is null)">Delete</button> |
            <a href="/players">Back to List</a>
        </EditForm>
    }
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private Player? _player;

    protected override async Task OnInitializedAsync()
    {
        _player = await DataService.GetByIdAsync<Player>(Id);

        if (_player is null)
        {
            Navigation.NavigateTo("notfound");
        }
    }

    private async Task DeletePlayer()
    {
        await DataService.RemoveAsync(_player!);

        Navigation.NavigateTo("/players");
    }
}

