@page "/players/edit/{Id:int}"
@using LocalFantasyLeague.Models.DbSets
@using LocalFantasyLeague.Models.DbSets
@rendermode InteractiveServer

<h3>Edit Player</h3>

<div class="row">
    <div class="col-md-6">
        <EditForm method="post" Model="_player" OnValidSubmit="Save" FormName="edit" Enhance>
            <InputText class="form-control mb-2" @bind-Value="_player.Name" />
            <select class="form-select mb-2" @bind="_player.Position">
                <option value="">-- Select Position --</option>
                <option value="GK">Goalkeeper (GK)</option>
                <option value="DEF">Defender (DEF)</option>
                <option value="MID">Midfielder (MID)</option>
                <option value="FWD">Forward (FWD)</option>
            </select>
            <select class="form-select mb-2" @bind="_player.TeamId">
                @foreach (var t in _teams)
                {
                    <option value="@t.Id">@t.Name</option>
                }
            </select>
            <button class="btn btn-primary">Save</button>
        </EditForm>
    </div>
</div>

@code {
    [Parameter] public int Id { get; set; }
    private Player? _player = new();
    private List<Team> _teams = [];

    protected override async Task OnInitializedAsync()
    {
        _player = await DataService.GetByIdAsync<Player>(Id);

        _teams = await DataService.GetAllAsync<Team>();
    }

    private async Task Save()
    {
        await DataService.UpdateAsync(_player!);

        Navigation.NavigateTo("/players");
    }
}
