@page "/players"
@rendermode InteractiveServer

<h3 class="text-center my-4 text-primary">Players</h3>
@if (UserSession.CurrentUser != null)
{
    <a class="btn btn-outline-primary mb-3" href="/players/create">Add Player</a>
}
<div class="mb-3">
    <label for="teamFilter" class="form-label">Filter by Team:</label>
    <select id="teamFilter" class="form-select" @onchange="FilterPlayersByTeam">
        <option value="">All Teams</option>
        @foreach (var team in _teams)
        {
            <option value="@team.Id">@team.Name</option>
        }
    </select>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead class="bg-light text-dark">
            <tr>
                <th>Name</th>
                <th>Team</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in _filteredPlayers)
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@p.Team?.Name</td>
                    <td>
                        @if (UserSession.CurrentUser == null)
                        {
                            <a href="/players/details/@p.Id" class="btn btn-outline-info btn-sm">Details</a>
                        }
                        else
                        {
                            <a href="/players/details/@p.Id" class="btn btn-outline-info btn-sm me-2">Details</a>
                            <a href="/players/edit/@p.Id" class="btn btn-outline-warning btn-sm me-2">Edit</a>
                            <a href="/players/delete/@p.Id" class="btn btn-outline-danger btn-sm">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private List<Player> _players = [];
    private List<Player> _filteredPlayers = [];
    private List<Team> _teams = [];
    private int? _selectedTeamId;

    protected override async Task OnInitializedAsync()
    {
        _players = await PlayerService.GetPlayerListIncludingTeam();

        _teams = await DataService.GetAllAsync<Team>();

        _filteredPlayers = _players; // Initially show all players
    }

    private void FilterPlayersByTeam(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value?.ToString(), out var teamId))
        {
            _selectedTeamId = teamId;
            _filteredPlayers = _players.Where(p => p.TeamId == teamId).ToList();
        }
        else
        {
            _selectedTeamId = null;
            _filteredPlayers = _players; // Show all players if no team is selected
        }

        StateHasChanged();
    }
}
