@page "/teams/delete/{Id:int}"
@using LocalFantasyLeague.Models.DbSets

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Team</h2>
    <hr />
    @if (_team is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@_team.Name</dd>
        </dl>
        <EditForm method="post" Model="_team" OnValidSubmit="DeleteTeam" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(_team is null)">Delete</button> |
            <a href="/teams">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Team? _team;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _team = await DataService.GetByIdAsync<Team>(Id);

        if (_team is null)
        {
            Navigation.NavigateTo("notfound");
        }
    }

    private async Task DeleteTeam()
    {
        await DataService.RemoveAsync(_team!);
        Navigation.NavigateTo("/teams");
    }
}

