@page "/teams"
@inject IDbContextFactory<LocalFantasyLeagueContext> DbFactory
@inject UserSession UserSession

<h3 class="text-center my-4 text-primary">Teams</h3>
@if (UserSession.CurrentUser != null)
{
    <a class="btn btn-outline-primary mb-3" href="/teams/create">Add Team</a>
}
<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead class="bg-light text-dark">
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var team in Teams)
        {
            <tr>
                <td>@team.Name</td>
                <td>
                    @if (UserSession.CurrentUser == null)
                    {
                        <a href="/teams/details/@team.Id" class="btn btn-outline-info btn-sm">Details</a>
                    }
                    else
                    {
                        <a href="/teams/details/@team.Id" class="btn btn-outline-info btn-sm me-2">Details</a>
                        <a href="/teams/edit/@team.Id" class="btn btn-outline-warning btn-sm me-2">Edit</a>
                        <a href="/teams/delete/@team.Id" class="btn btn-outline-danger btn-sm">Delete</a>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@code {
    private List<Team> Teams = new();

    protected override async Task OnInitializedAsync()
    {
        await using var db = await DbFactory.CreateDbContextAsync();
        Teams = await db.Teams.ToListAsync();
    }
}