@page "/teams/edit/{Id:int}"
@rendermode InteractiveServer

<h3>Edit Team</h3>

@if (_team != null)
{
    <div class="row">
        <div class="col-md-6">
            <EditForm Model="@_team" OnValidSubmit="Update">
                <InputText class="form-control mb-2" @bind-Value="_team.Name" />
                <button class="btn btn-primary">Update</button>
            </EditForm>
        </div>
    </div>
}

@code {
    [Parameter] public int Id { get; set; }
    private Team? _team;

    protected override async Task OnInitializedAsync()
    {
        _team = await DataService.GetByIdAsync<Team>(Id);
    }

    private async Task Update()
    {
        await DataService.UpdateAsync(_team!);
        Navigation.NavigateTo("/teams");
    }
}
